body {
    background-image: url('/images/fondoActualizadoConMadera.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Custom properties */
/* :root {
    --background-color_de_algunas_partes: #f39d75;
} */
@font-face {
    font-family: script;
    src: url(/fonts/script.ttf);
}

@media only screen and (max-width: 659px) {
    .logo {
        margin-left: 40%;
        width: 100px;
        /* Ancho más chiquitologotipo */
        height: 150px;
        /* Mantener la relación de aspecto */
        margin-top: 10px;
        /* presentar como segunda opcion sacar el relleno de fondo */
        

    }

    header {
        position: relative;
        height: 150px;
        /* Altura más chiquita para el encabezado */
        width: 100%;
        background-image: url('/images/posibleHeader.png');
        background-size: contain;
        /* Ajustar el tamaño de la imagen de fondo */

    }

    /* Estilos para el menú de navegación en pantallas más pequeñas (inicialmente oculto) */
    .navigation {
        display: none;
        /* ...otros estilos... */
    }

    /* Estilos para el menú cuando está abierto */
    .navigation.show {
        display: flex;
        flex-direction: column;
        list-style: none;

        /* ...otros estilos... */
    }
    ul,li,a{
        text-decoration: none;
        color: black;

    }
    
    .menu {
        background-image: url('/images/posibleHeader.png');
        font-family: script;
        width: 30%;
        
        
    }

    main {
        margin-top: 10%;

    }

    h1 {
        font-family: script;
        font-size: xx-large;
        color: white;
    }

    .sacarlas_para_responsive {
        display: none;
    }
    .hamburger-menu:hover{
        display: block;
        opacity: 0.8;
    }
    
    .hamburger-menu img{
        width: 10%;
        height: 30%;
        position: absolute;
        top: 45px;
        left: 20px;
        
    }
    .seccion_texto{
        padding: 2%;
    }
    .seccion_texto, h1{
        text-align: center;
    }
    section,
    .seccion_texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        color:white;
    }
    .seccion_texto, .img_seccion_texto{
        height: auto;
        width: 80%;
        
    }
    button img {


        align-items: center;

        /* Esto centra el contenedor horizontalmente */
        height: 30px;

        border-radius: 10%;


    }
    button{
        margin-top: 2%;
        margin-bottom: 2%;
        
    }

    section,
    h1 {
        margin-top: 4%;
        background-color: #FF0000;
        opacity: 0.9;
    }
    .seccion_producto,img{
        height: auto;
        width: 100%;
    }
    button{
        background-color: white;
        border-radius: 30%;
    }
    .primer_footer img {

        width: 40px;
        /* Tamaño de imagen deseado */
        height: auto;
        border-radius: 20%;
        margin-right: 10px;
        /* Espacio entre las imágenes */
        color:white;
        
    }

    .tecnologias,
    p {
        background-color: #FF0000;
        opacity: 0.9;
        margin-left: 9%;
      
    }

    .primer_footer {
        margin-top: 5%;
        display: flex;
        background-color: #FF0000;
        opacity: 0.9;
        color:white;
    }

    footer,
    ul {
        display: flex;
        flex-direction: column;
        font-style: none;
        list-style: none;
        color:white;

    }

    footer,
    .primer_footer,
    .tecnologias,
    p {
        background-color: #FF0000;
        opacity: 0.9;
        font-size: large;
       
    }

    ul .lista_para_responsive li a {
        background-color: #FF0000;
        opacity: 0.9;
        color:white;
    }

    span {
        font-family: script;
        font-size: large;
        background-color: #FF0000;
        opacity: 0.9;
    }

    /* Agrega una clase única al elemento del footer */

    .lista_para_responsive li a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color:white;
    
    }



.bar {
    margin-left: 3%;
    position: absolute;
    top: 40px;
    left: 40px;
    width: 30px;
    height: 3px;
    background-color: #000; /* Color de las barras */
    margin: 4px 0;
}
.lista_para_responsive li{
    color:white;
}

}

@media only screen and (min-width: 660px) {
    .sacarlas_para_responsive, .hamburger-menu {
        display: block;
    }
    .hamburger-menu{
        display: none;
    }
    /* Estilo para el encabezado */
    header {
        position: relative;
        height: 150px;
        /* Altura más chiquita para el encabezado */
        width: 99, 10%;
        background-image: url('/images/posibleHeader.png');
        background-size: contain;
        /* Ajustar el tamaño de la imagen de fondo */
        
    }
  

    /* Estilo logotipo */
    .logo {
        position: relative;
        margin-left: 42%;
       
        /* Mantener la relación de aspecto */
        border-radius: 50%;
        height: 330px;
        width: 420px;
        top:-32%;
        left:-8%


    }
  /*   header .logo{
        
      
        
    } */

    .menu {
        font-family: script;
        font-size: large;
        position: fixed;
        width: 98.59%;
        background-color: #FF0000;
        z-index: 1000;
        opacity: 0.9;
        height: 11%;
    }

    ul.navigation {

        display: flex;
        justify-content: space-around;
        margin-left: 0;
        /* Establecer margen izquierdo a 0 */
    }

    .navigation a:hover {
        font-size: x-large;
    }

    ul,
    li,
    a {
        background-color: #FF0000;
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: left;
        color: white;
        opacity: 0.9;
    }

    /*    .menu a:hover{
        font-size: xx-large;
        
    } */

    main {
        margin-top: 10%;
    }

    section {
        display: flex;
    }

    .grid_imagenes {
        display: grid;
        background-color: #FF0000;
        grid-template-columns: repeat(2, 1fr);
        
        opacity: 0.9;
    }

    /* Define la animación */
    @keyframes moveUp {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-8%);
            /* Ajusta la distancia del movimiento hacia arriba */
        }
    }

    .grid_imagenes img {
        margin: 5% 5%;

        max-width: 100%;
        /* Hace que las imágenes se ajusten al ancho del contenedor */
        height: 70%;
        /* Mantiene la proporción de aspecto de las imágenes */
        width: 80%;
        /* Establece el ancho máximo de las imágenes al 100% del contenedor */
        animation: moveUp 1s ease-in-out infinite alternate;
        /* Ajusta la duración y el efecto de la animación */

    }
    

    h1 {
        font-family: script;
        color: white;
    }

    div.seccion_texto,
    h1,
    p {
        background-color: #FF0000;
        border-radius: 1%;
        opacity: 0.9;
    }
    .seccion_texto, .img_seccion_texto{
       
        text-align: center;
    }
    .seccion_texto {
        margin: 2% 2%;
        font-size: larger;
        padding: 1%;
        
        
    }
    #sobreNosotros,h1{
        text-align: center;
    }
    .img_seccion_texto{
        height: 40%;
        width: 60%;
        margin-top: 3%;
        animation: moveUp 1s ease-in-out infinite alternate;

        
    }
    .seccion_texto,
    p {
        font-size: xx-large;
        color: white;

    }

    .seccion_producto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        /* Esto permite centrar verticalmente */
        width: 50%;
        margin: 2% auto;
        /* Esto centra el contenedor horizontalmente */

        border-radius: 1%;
        margin-bottom: 6%;
        opacity: 0.9;
    }

    button img {




        /* Hace que las imágenes se ajusten al ancho del contenedor */
        height: 35%;

        width: 35%;


    }

    .seccion_producto h1 {
        font-size: xxx-large;
        display: flex;
        justify-content: center;

    }

    button {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 12%;
        border-radius: 30px;
        margin-left: 45%;
        background-color: white;
    }

    button img:hover {
        height: 36%;
        width: 36%;
        background-color: rgb(70, 221, 70);
        border-radius: 10px;
        
    }

    /* Estilo para el footer */
    footer {


        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 3%;
        /* Ajusta el espacio interior del footer */

    }

    /* Estilo para las imágenes en el footer */
    footer img {
        width: 40px;
        /* Tamaño de imagen deseado */
        height: auto;
        border-radius: 20%;
        margin-right: 10px;
        /* Espacio entre las imágenes */
    }

    /* Estilo para la lista en el footer */
    footer ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    /* Estilo para los elementos de lista en el footer */


    .primer_footer,
    .tecnologias {
        background-color: #FF0000;
        opacity: 0.9;
    }

    .segundo_footer {
        background-color: #FF0000;
        font-size: large;
        opacity: 0.9;
    }

    span {
        font-family: script;
        font-size: x-large;
        background-color: #FF0000;
        opacity: 0.9;
    }
}